<!--Contact page-->

<%- include partials/header.ejs %> 
<%- include partials/navbar.ejs %>
<!--Using bootstrap formas for additional styling. Modified to website usage scenarios-->
<section class="section-style" style="text-align: center">
  <h2>Thank you for contacting</h2>
  <p>Your name is <%=data.name %></p>
  <p>Your email is <%=data.email %></p>
  <p>Your message is <%= data.textarea %> </p>
</section>
<script>
    setTimeout(function(){
        window.location.href = '/home'  
    },5000);
</script>



<%- include partials/footer.ejs %>